<p>directives works!</p>
<h5 *ngFor="let age of ages">Ags is:{{age}}</h5>
<h5 *ngFor="let age of ages"></h5>







<table border="1"> 
    <thead>
        <th>name</th>
        <th>price</th>
        <th>rating</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">

            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.rating}}</td>
            <td [ngStyle]="{'color':product.rating<3?'red':'green'}"></td>
        </tr><tr *ngFor="let product of products">
             

            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.rating}}</td>
            <td [ngStyle]="{'color':product.rating<3?'red':'green'}"></td>
        </tr>

    </tbody>
    <!-- <tr *ngFor="le">
    
    </tr> -->
</table>