<!-- <p>login works!</p> -->
<div class="parent">
    <div class="child">
        <form action="">
            <h1>login page</h1>
            <div>
                <label for="">user name</label>
                <input type="" placeholder="email or phone number">
            </div>
            <div>
                <label for="">password</label>
                <input type="" placeholder=" enter password">
            </div>
            <button routerLink="/dashboard">login</button>
        </form>

    </div>

</div>