<form [formGroup]="companyForm">
    <h1>Create Company Form</h1>

    <label for="">Name:</label>
    <input type="text" formControlName="name" appCapital>
    <br>
    <div *ngIf="companyForm.get('name')?.touched && companyForm.get('name')?.invalid">
        <p class="error" *ngIf="companyForm.get('name')?.errors?.['required']">Name is required.</p>
        <p class="error" *ngIf="companyForm.get('name')?.errors?.['minlength']">Name should container minmum 3
            charecters
            only</p>
        <p class="error" *ngIf="companyForm.get('name')?.errors?.['maxlength']">Maximum 10 charecters allwed in name.
        </p>

    </div>

    <label for="">founded:</label>
    <input type="number" formControlName="founded" appCapital>
    <div *ngIf="companyForm.get('founded')?.touched && companyForm.get('founded')?.invalid">
        <p class="error" *ngIf="companyForm.get('founded')?.errors?.['required']">founded is required.</p>
        <p class="error" *ngIf="companyForm.get('founded')?.errors?.['min']"> Minimum 0 years.</p>
        <p class="error" *ngIf="companyForm.get('founded')?.errors?.['max']">Maximum 100 years.</p>

    </div>
    <br>

    <label for="">CEO:</label>
    <input type="number" formControlName="(ceo)" appCapital>
    <div *ngIf="companyForm.get('CEO')?.touched && companyForm.get('CEO')?.invalid">
        <p class="error" *ngIf="companyForm.get('ceo')?.errors?.['required']">ceo is required.</p>
        <p class="error" *ngIf="companyForm.get('ceo')?.errors?.['min']"> Minimum 10 digits required.</p>
        <p class="error" *ngIf="companyForm.get('ceo')?.errors?.['max']">Maximum 10 digits required .</p>

    </div>
    <br>

    <label for="">location:</label>
    <input type="location" formControlName="location" appCapital>
    <div *ngIf="companyForm.get('location')?.touched && companyForm.get('location')?.invalid">
        <p class="error" *ngIf="companyForm.get('location')?.errors?.['required']">location is required.</p>
        <p class="error" *ngIf="companyForm.get('location')?.errors?.['location']"> invalid location format.</p>
        <p class="error" *ngIf="companyForm.get('location')?.errors?.['domainValidator ']">Only capgemini mails
            accepted.</p>

    </div>
    <br>

    <div formGroupName="address">
        
        <br>

        <label for="">address:</label>
        <input type="number" formControlName="address">
        <div *ngIf="companyForm.get('address')?.touched && companyForm.get('address')?.invalid">
            <p class="error" *ngIf="companyForm.get('address')?.errors?.['required']">pincode is required.</p>

        </div>
        <br>

        <label for="">city:</label>
        <input type="number" formControlName="city">
        <div *ngIf="companyForm.get('city')?.touched && companyForm.get('city')?.invalid">
            <p class="error" *ngIf="companyForm.get('city')?.errors?.['required']">pincode is required.</p>
        </div>
        <br>

        <label for="">state:</label>
        <input type="number" formControlName="state">
        <div *ngIf="companyForm.get('state')?.touched && companyForm.get('state')?.invalid">
            <p class="error" *ngIf="companyForm.get('state')?.errors?.['required']">pincode is required.</p>

        </div>
        <br>

        <label for="">zipcode:</label>
        <input type="number" formControlName="zipcode">
        <div *ngIf="companyForm.get('zipcode')?.touched && companyForm.get('zipcode')?.invalid">
            <p class="error" *ngIf="companyForm.get('zipcode')?.errors?.['required']">pincode is required.</p>

        </div>
        <br>

        <label for="">country:</label>
        <input type="number" formControlName="country">
        <div *ngIf="companyForm.get('country')?.touched && companyForm.get('country')?.invalid">
            <p class="error" *ngIf="companyForm.get('country')?.errors?.['required']">pincode is required.</p>

        </div>

    </div>



    <div formArrayName="departments">
        <button (click)="adddepartments()">add department</button>
        <br>

        <div formArrayName="departments">
            <div *ngFor="let department of departmentsFormArray.controls; let i=index">
                <div formGroupName="{{i}}">

                    <h3>department {{i+1}}</h3>

                    <label for="">name:</label>
                    <input type="text" formControlName="name">
                    <br>

                    <label for="">head:</label>
                    <input type="text" formControlName="head">

                    <br>

                    <label for="">employees:</label>
                    <input type="number" formControlName="employees">

                    <br>

                    <label for="">budget:</label>
                    <input type="number" formControlName="cvv">

                    <br>

                    <button (click)="deleteCard(i)">delete</button>
                </div>
            </div>
        </div>
    </div>

    <label for="">companyType:</label>
    <input type="radio" name="tye" formControlName="type" value="service">
    <label for="">service:</label>
    <input type="radio" name="tye" formControlName="type" value="product">
    <label for="">product:</label>
    <br>
    <div *ngIf="companyForm.get('type')?.value == 'service'">
        <label for="">clientName:</label>
        <input type="text" formControlName="clientName">
        

    </div>


    <div *ngIf="companyForm.get('type')?.value == 'product'">
        <label for="">productName:</label>
        <input type="text" formControlName="productName">
       


    </div>
    <br>


    <button (click)="submit()">submit</button>


</form>