/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
table{
    border: 6px solid black;
}/* styles.css */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
}

.styled-table thead th {
    background-color: #009879;
    color: white;
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody td {
    border: 1px solid #dddddd;
    padding: 8px 15px;
    text-align: center;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #ececec;
}
